In [1]:
import pandas as pd
import ssl

In [2]:
ssl._create_default_https_context = ssl._create_unverified_context

In [3]:
base_2010_1 = "https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/blob/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20101.csv?raw=true"
base_2010_2 = "https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/blob/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20102.csv?raw=true"
base_2011_1 = "https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/blob/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20111.csv?raw=true"
base_2011_2 = "https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/blob/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20112.csv?raw=true"
base_2012_1 = "https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/blob/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20121.csv?raw=true"
base_2012_2 = "https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/blob/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20122.csv?raw=true"
base_2013_1 = "https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/blob/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20131.csv?raw=true"
base_2013_2 = "https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/blob/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20132.csv?raw=true"
base_2014_1 = "https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/blob/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20141.csv?raw=true"
base_2014_2 = "https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/blob/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20142.csv?raw=true"
base_2015_1 = "https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/blob/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20151.csv?raw=true"
base_2015_2 = "https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/blob/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20152.csv?raw=true"
base_2016_1 = "https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/blob/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20161.csv?raw=true"
base_2016_2 = "https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/blob/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20162.csv?raw=true"
base_2017_1 = "https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/blob/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20171.csv?raw=true"
base_2017_2 = "https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/blob/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20172.csv?raw=true"
base_2018_1 = "https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/blob/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20181.csv?raw=true"
base_2018_2 = "https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/blob/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20182.csv?raw=true"
base_2019_1 = "https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/blob/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20191.csv?raw=true"
base_2019_2 = "https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/blob/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20192.csv?raw=true"
base_2020_1 = "https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/blob/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20201.csv?raw=true"

informacoes_acervo = "https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/blob/main/Dia_1-Importando_dados/Datasets/dados_exemplares.parquet?raw=true"

In [4]:
df_1 = pd.read_csv(base_2010_1)
df_2 = pd.read_csv(base_2010_2)
df_3 = pd.read_csv(base_2011_1)
df_4 = pd.read_csv(base_2011_2)
df_5 = pd.read_csv(base_2012_1)
df_6 = pd.read_csv(base_2012_2)
df_7 = pd.read_csv(base_2013_1)
df_8 = pd.read_csv(base_2013_2)
df_9 = pd.read_csv(base_2014_1)
df_10 = pd.read_csv(base_2014_2)
df_11 = pd.read_csv(base_2015_1)
df_12 = pd.read_csv(base_2015_2)
df_13 = pd.read_csv(base_2016_1)
df_14 = pd.read_csv(base_2016_2)
df_15 = pd.read_csv(base_2017_1)
df_16 = pd.read_csv(base_2017_2)
df_17 = pd.read_csv(base_2018_1)
df_18 = pd.read_csv(base_2018_2)
df_19 = pd.read_csv(base_2019_1)
df_20 = pd.read_csv(base_2019_2)
df_21 = pd.read_csv(base_2020_1)

In [5]:
df_19.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,2782809,L169931,NaN,2019/01/02 08:09:52.211000000,2019/01/25 11:40:31.000000000,2.019101e+10,ALUNO DE PÓS-GRADUAÇÃO
1,2782810,L099542,NaN,2019/01/02 08:09:52.286000000,2019/01/03 18:29:29.000000000,2.019101e+10,ALUNO DE PÓS-GRADUAÇÃO
2,2782811,L199924,NaN,2019/01/02 08:09:52.321000000,2019/01/25 11:40:25.000000000,2.019101e+10,ALUNO DE PÓS-GRADUAÇÃO
3,2782812,2010081229,2019/01/17 06:20:06.044000000,2019/01/02 08:30:25.722000000,2019/01/28 08:22:55.000000000,2.018014e+10,ALUNO DE GRADUAÇÃO
4,2782813,2018022572,2019/01/17 06:20:06.019000000,2019/01/02 08:30:25.758000000,2019/01/28 08:22:42.000000000,2.018014e+10,ALUNO DE GRADUAÇÃO

In [6]:
df_acervo = pd.read_parquet(informacoes_acervo, engine="pyarrow")

In [7]:
dfs = [df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10, df_11, df_12, df_13, df_14, df_15, df_16, df_17, df_18, df_19, df_20, df_21]
dfs_concatenados = pd.concat(dfs)
print(dfs_concatenados)

       id_emprestimo codigo_barras                 data_renovacao  \
0             709684       L095049                            NaN
1             709685       L167050                            NaN
2             709686    2006017618  2010/01/26 08:07:01.738000000
3             709687       L184117  2010/01/18 11:07:46.470000000
4             709684       L095049                            NaN
...              ...           ...                            ...
26556        2989086    2008047044                            NaN
26557        2989087    2008047047                            NaN
26558        2989088    2010052905                            NaN
26559        2989089    2010048023                            NaN
26560        2989090    2013106838                            NaN

                     data_emprestimo                 data_devolucao  \
0      2010/01/04 07:44:10.721000000  2010/01/05 16:26:12.662000000
1      2010/01/04 07:44:10.750000000  2010/01/12 07:34:13.934000000
2      2010/01/04 08:08:44.081000000  2010/02/25 07:36:25.800000000
3      2010/01/04 08:24:21.284000000  2010/02/03 08:58:45.692000000
4      2010/01/04 07:44:10.721000000  2010/01/05 16:26:12.662000000
...                              ...                            ...
26556  2020/05/05 19:51:06.059000000  2021/05/13 14:53:31.000000000
26557  2020/05/05 19:51:06.135000000  2021/05/13 14:53:38.000000000
26558  2020/05/05 19:51:06.164000000  2021/05/13 15:01:46.000000000
26559  2020/06/09 11:54:02.669000000  2021/07/21 15:33:55.000000000
26560  2020/06/09 11:54:02.852000000  2021/07/21 15:33:45.000000000

       matricula_ou_siape             tipo_vinculo_usuario
0            2.008023e+09               ALUNO DE GRADUAÇÃO
1            2.008023e+09               ALUNO DE GRADUAÇÃO
2            2.008112e+09           ALUNO DE PÓS-GRADUAÇÃO
3            2.007211e+08               ALUNO DE GRADUAÇÃO
4            2.008023e+09               ALUNO DE GRADUAÇÃO
...                   ...                              ...
26556        3.067431e+06  SERVIDOR TÉCNICO-ADMINISTRATIVO
26557        3.067431e+06  SERVIDOR TÉCNICO-ADMINISTRATIVO
26558        3.067431e+06  SERVIDOR TÉCNICO-ADMINISTRATIVO
26559        2.020101e+10           ALUNO DE PÓS-GRADUAÇÃO
26560        2.020101e+10           ALUNO DE PÓS-GRADUAÇÃO

[2258018 rows x 7 columns]

In [8]:
dfs_concatenados.value_counts()

id_emprestimo  codigo_barras  data_renovacao                 data_emprestimo                data_devolucao                 matricula_ou_siape  tipo_vinculo_usuario
709704         2006021442     2010/01/17 18:56:43.923000000  2010/01/04 09:58:46.522000000  2010/02/01 13:59:02.528000000  2.008010e+09        ALUNO DE GRADUAÇÃO        7
709705         2009032168     2010/01/17 18:56:43.909000000  2010/01/04 09:58:46.549000000  2010/01/20 13:14:34.464000000  2.008010e+09        ALUNO DE GRADUAÇÃO        7
709698         2009047725     2010/01/18 14:44:41.163000000  2010/01/04 09:21:19.099000000  2010/02/02 12:02:38.444000000  2.009047e+09        ALUNO DE GRADUAÇÃO        3
709686         2006017618     2010/01/26 08:07:01.738000000  2010/01/04 08:08:44.081000000  2010/02/25 07:36:25.800000000  2.008112e+09        ALUNO DE PÓS-GRADUAÇÃO    2
709687         L184117        2010/01/18 11:07:46.470000000  2010/01/04 08:24:21.284000000  2010/02/03 08:58:45.692000000  2.007211e+08        ALUNO DE GRADUAÇÃO        2
                                                                                                                                                                        ..
2988998        2010084076     2020/04/27 23:27:14.132000000  2020/03/17 19:23:11.780000000  2021/08/25 16:18:43.000000000  2.018015e+10        ALUNO DE GRADUAÇÃO        1
2988999        2011024982     2020/04/27 23:27:14.108000000  2020/03/17 19:23:11.829000000  2021/11/22 14:50:13.000000000  2.018015e+10        ALUNO DE GRADUAÇÃO        1
2989007        2014069838     2020/03/23 10:42:38.432000000  2020/03/17 19:29:17.897000000  2022/01/20 17:26:19.000000000  2.019005e+10        ALUNO DE GRADUAÇÃO        1
2989040        2016025770     2020/04/01 22:25:43.652000000  2020/03/17 20:23:54.966000000  2021/07/07 15:44:35.000000000  2.020009e+10        ALUNO DE GRADUAÇÃO        1
2989064        S023116        2021/07/19 16:17:24.750000000  2020/03/17 21:40:52.879000000  2021/10/18 10:32:30.000000000  2.018001e+10        ALUNO DE GRADUAÇÃO        1
Name: count, Length: 968028, dtype: int64

In [9]:
df_concatenados = dfs_concatenados.drop_duplicates()

dfs_concatenados.value_counts()

id_emprestimo  codigo_barras  data_renovacao                 data_emprestimo                data_devolucao                 matricula_ou_siape  tipo_vinculo_usuario
709704         2006021442     2010/01/17 18:56:43.923000000  2010/01/04 09:58:46.522000000  2010/02/01 13:59:02.528000000  2.008010e+09        ALUNO DE GRADUAÇÃO        7
709705         2009032168     2010/01/17 18:56:43.909000000  2010/01/04 09:58:46.549000000  2010/01/20 13:14:34.464000000  2.008010e+09        ALUNO DE GRADUAÇÃO        7
709698         2009047725     2010/01/18 14:44:41.163000000  2010/01/04 09:21:19.099000000  2010/02/02 12:02:38.444000000  2.009047e+09        ALUNO DE GRADUAÇÃO        3
709686         2006017618     2010/01/26 08:07:01.738000000  2010/01/04 08:08:44.081000000  2010/02/25 07:36:25.800000000  2.008112e+09        ALUNO DE PÓS-GRADUAÇÃO    2
709687         L184117        2010/01/18 11:07:46.470000000  2010/01/04 08:24:21.284000000  2010/02/03 08:58:45.692000000  2.007211e+08        ALUNO DE GRADUAÇÃO        2
                                                                                                                                                                        ..
2988998        2010084076     2020/04/27 23:27:14.132000000  2020/03/17 19:23:11.780000000  2021/08/25 16:18:43.000000000  2.018015e+10        ALUNO DE GRADUAÇÃO        1
2988999        2011024982     2020/04/27 23:27:14.108000000  2020/03/17 19:23:11.829000000  2021/11/22 14:50:13.000000000  2.018015e+10        ALUNO DE GRADUAÇÃO        1
2989007        2014069838     2020/03/23 10:42:38.432000000  2020/03/17 19:29:17.897000000  2022/01/20 17:26:19.000000000  2.019005e+10        ALUNO DE GRADUAÇÃO        1
2989040        2016025770     2020/04/01 22:25:43.652000000  2020/03/17 20:23:54.966000000  2021/07/07 15:44:35.000000000  2.020009e+10        ALUNO DE GRADUAÇÃO        1
2989064        S023116        2021/07/19 16:17:24.750000000  2020/03/17 21:40:52.879000000  2021/10/18 10:32:30.000000000  2.018001e+10        ALUNO DE GRADUAÇÃO        1
Name: count, Length: 968028, dtype: int64

In [10]:
esquerdo = dfs_concatenados
direito = df_acervo
df_comum = pd.merge(esquerdo, direito, on="codigo_barras")

In [11]:
print(df_comum)

         id_emprestimo codigo_barras                 data_renovacao  \
0               709684       L095049                            NaN
1               709685       L167050                            NaN
2               709686    2006017618  2010/01/26 08:07:01.738000000
3               709687       L184117  2010/01/18 11:07:46.470000000
4               709684       L095049                            NaN
...                ...           ...                            ...
2072553        2989086    2008047044                            NaN
2072554        2989087    2008047047                            NaN
2072555        2989088    2010052905                            NaN
2072556        2989089    2010048023                            NaN
2072557        2989090    2013106838                            NaN

                       data_emprestimo                 data_devolucao  \
0        2010/01/04 07:44:10.721000000  2010/01/05 16:26:12.662000000
1        2010/01/04 07:44:10.750000000  2010/01/12 07:34:13.934000000
2        2010/01/04 08:08:44.081000000  2010/02/25 07:36:25.800000000
3        2010/01/04 08:24:21.284000000  2010/02/03 08:58:45.692000000
4        2010/01/04 07:44:10.721000000  2010/01/05 16:26:12.662000000
...                                ...                            ...
2072553  2020/05/05 19:51:06.059000000  2021/05/13 14:53:31.000000000
2072554  2020/05/05 19:51:06.135000000  2021/05/13 14:53:38.000000000
2072555  2020/05/05 19:51:06.164000000  2021/05/13 15:01:46.000000000
2072556  2020/06/09 11:54:02.669000000  2021/07/21 15:33:55.000000000
2072557  2020/06/09 11:54:02.852000000  2021/07/21 15:33:45.000000000

         matricula_ou_siape             tipo_vinculo_usuario  id_exemplar  \
0              2.008023e+09               ALUNO DE GRADUAÇÃO        13259
1              2.008023e+09               ALUNO DE GRADUAÇÃO        70865
2              2.008112e+09           ALUNO DE PÓS-GRADUAÇÃO       195347
3              2.007211e+08               ALUNO DE GRADUAÇÃO       131639
4              2.008023e+09               ALUNO DE GRADUAÇÃO        13259
...                     ...                              ...          ...
2072553        3.067431e+06  SERVIDOR TÉCNICO-ADMINISTRATIVO       256297
2072554        3.067431e+06  SERVIDOR TÉCNICO-ADMINISTRATIVO       256406
2072555        3.067431e+06  SERVIDOR TÉCNICO-ADMINISTRATIVO       807821
2072556        2.020101e+10           ALUNO DE PÓS-GRADUAÇÃO       804885
2072557        2.020101e+10           ALUNO DE PÓS-GRADUAÇÃO      1099777

                   colecao                                         biblioteca  \
0        Acervo Circulante                     Biblioteca Central Zila Mamede
1        Acervo Circulante                     Biblioteca Central Zila Mamede
2        Acervo Circulante  Biblioteca Setorial Prof. Rodolfo Helinski - E...
3        Acervo Circulante                     Biblioteca Central Zila Mamede
4        Acervo Circulante                     Biblioteca Central Zila Mamede
...                    ...                                                ...
2072553  Acervo Circulante  Biblioteca Setorial da Faculdade de Ciências d...
2072554  Acervo Circulante  Biblioteca Setorial da Faculdade de Ciências d...
2072555  Acervo Circulante  Biblioteca Setorial da Faculdade de Ciências d...
2072556  Acervo Circulante                     Biblioteca Central Zila Mamede
2072557  Acervo Circulante                     Biblioteca Central Zila Mamede

        status_material  localizacao  registro_sistema
0               REGULAR          630              4225
1               REGULAR          647             25009
2               REGULAR          640             75019
3               REGULAR          609             44494
4               REGULAR          630              4225
...                 ...          ...               ...
2072553         REGULAR          684            110098
2072554         REGULAR          628            110171
2072555         REGULAR          653            134173
2072556         REGULAR          675             67712
2072557         REGULAR           14            205153

[2072558 rows x 13 columns]

In [12]:
print(df_comum.isnull().sum())

id_emprestimo                 0
codigo_barras                 0
data_renovacao          1162088
data_emprestimo               0
data_devolucao             6178
matricula_ou_siape         2893
tipo_vinculo_usuario          0
id_exemplar                   0
colecao                       0
biblioteca                    0
status_material               0
localizacao                   0
registro_sistema              0
dtype: int64

In [28]:
moda = df_comum['matricula_ou_siape'].mode()[0]

df_comum['matricula_ou_siape'] = df_comum['matricula_ou_siape'].fillna(moda)

In [29]:
print(df_comum.isnull().sum())

id_emprestimo                 0
codigo_barras                 0
data_renovacao          1162088
data_emprestimo               0
data_devolucao             6178
matricula_ou_siape            0
tipo_vinculo_usuario          0
id_exemplar                   0
colecao                       0
biblioteca                    0
status_material               0
localizacao                   0
dtype: int64

In [30]:
df_comum['data_renovacao'].fillna(value="ffill")
df_comum['data_renovacao'].fillna(value="bfill")
df_comum['data_devolucao'].fillna(value="ffill")
df_comum['data_devolucao'].fillna(value="bfill")

0          2010/01/05 16:26:12.662000000
1          2010/01/12 07:34:13.934000000
2          2010/02/25 07:36:25.800000000
3          2010/02/03 08:58:45.692000000
4          2010/01/05 16:26:12.662000000
                       ...
2072553    2021/05/13 14:53:31.000000000
2072554    2021/05/13 14:53:38.000000000
2072555    2021/05/13 15:01:46.000000000
2072556    2021/07/21 15:33:55.000000000
2072557    2021/07/21 15:33:45.000000000
Name: data_devolucao, Length: 2072558, dtype: str

In [31]:
print(df_comum.isnull().sum())

id_emprestimo                 0
codigo_barras                 0
data_renovacao          1162088
data_emprestimo               0
data_devolucao             6178
matricula_ou_siape            0
tipo_vinculo_usuario          0
id_exemplar                   0
colecao                       0
biblioteca                    0
status_material               0
localizacao                   0
dtype: int64

In [17]:
print(df_comum)

         id_emprestimo codigo_barras                 data_renovacao  \
0               709684       L095049                            NaN
1               709685       L167050                            NaN
2               709686    2006017618  2010/01/26 08:07:01.738000000
3               709687       L184117  2010/01/18 11:07:46.470000000
4               709684       L095049                            NaN
...                ...           ...                            ...
2072553        2989086    2008047044                            NaN
2072554        2989087    2008047047                            NaN
2072555        2989088    2010052905                            NaN
2072556        2989089    2010048023                            NaN
2072557        2989090    2013106838                            NaN

                       data_emprestimo                 data_devolucao  \
0        2010/01/04 07:44:10.721000000  2010/01/05 16:26:12.662000000
1        2010/01/04 07:44:10.750000000  2010/01/12 07:34:13.934000000
2        2010/01/04 08:08:44.081000000  2010/02/25 07:36:25.800000000
3        2010/01/04 08:24:21.284000000  2010/02/03 08:58:45.692000000
4        2010/01/04 07:44:10.721000000  2010/01/05 16:26:12.662000000
...                                ...                            ...
2072553  2020/05/05 19:51:06.059000000  2021/05/13 14:53:31.000000000
2072554  2020/05/05 19:51:06.135000000  2021/05/13 14:53:38.000000000
2072555  2020/05/05 19:51:06.164000000  2021/05/13 15:01:46.000000000
2072556  2020/06/09 11:54:02.669000000  2021/07/21 15:33:55.000000000
2072557  2020/06/09 11:54:02.852000000  2021/07/21 15:33:45.000000000

         matricula_ou_siape             tipo_vinculo_usuario  id_exemplar  \
0              2.008023e+09               ALUNO DE GRADUAÇÃO        13259
1              2.008023e+09               ALUNO DE GRADUAÇÃO        70865
2              2.008112e+09           ALUNO DE PÓS-GRADUAÇÃO       195347
3              2.007211e+08               ALUNO DE GRADUAÇÃO       131639
4              2.008023e+09               ALUNO DE GRADUAÇÃO        13259
...                     ...                              ...          ...
2072553        3.067431e+06  SERVIDOR TÉCNICO-ADMINISTRATIVO       256297
2072554        3.067431e+06  SERVIDOR TÉCNICO-ADMINISTRATIVO       256406
2072555        3.067431e+06  SERVIDOR TÉCNICO-ADMINISTRATIVO       807821
2072556        2.020101e+10           ALUNO DE PÓS-GRADUAÇÃO       804885
2072557        2.020101e+10           ALUNO DE PÓS-GRADUAÇÃO      1099777

                   colecao                                         biblioteca  \
0        Acervo Circulante                     Biblioteca Central Zila Mamede
1        Acervo Circulante                     Biblioteca Central Zila Mamede
2        Acervo Circulante  Biblioteca Setorial Prof. Rodolfo Helinski - E...
3        Acervo Circulante                     Biblioteca Central Zila Mamede
4        Acervo Circulante                     Biblioteca Central Zila Mamede
...                    ...                                                ...
2072553  Acervo Circulante  Biblioteca Setorial da Faculdade de Ciências d...
2072554  Acervo Circulante  Biblioteca Setorial da Faculdade de Ciências d...
2072555  Acervo Circulante  Biblioteca Setorial da Faculdade de Ciências d...
2072556  Acervo Circulante                     Biblioteca Central Zila Mamede
2072557  Acervo Circulante                     Biblioteca Central Zila Mamede

        status_material  localizacao  registro_sistema
0               REGULAR          630              4225
1               REGULAR          647             25009
2               REGULAR          640             75019
3               REGULAR          609             44494
4               REGULAR          630              4225
...                 ...          ...               ...
2072553         REGULAR          684            110098
2072554         REGULAR          628            110171
2072555         REGULAR          653            134173
2072556         REGULAR          675             67712
2072557         REGULAR           14            205153

[2072558 rows x 13 columns]

In [18]:
df_comum = df_comum.drop("registro_sistema", axis = 1)

In [19]:
print(df_comum)

         id_emprestimo codigo_barras                 data_renovacao  \
0               709684       L095049                            NaN
1               709685       L167050                            NaN
2               709686    2006017618  2010/01/26 08:07:01.738000000
3               709687       L184117  2010/01/18 11:07:46.470000000
4               709684       L095049                            NaN
...                ...           ...                            ...
2072553        2989086    2008047044                            NaN
2072554        2989087    2008047047                            NaN
2072555        2989088    2010052905                            NaN
2072556        2989089    2010048023                            NaN
2072557        2989090    2013106838                            NaN

                       data_emprestimo                 data_devolucao  \
0        2010/01/04 07:44:10.721000000  2010/01/05 16:26:12.662000000
1        2010/01/04 07:44:10.750000000  2010/01/12 07:34:13.934000000
2        2010/01/04 08:08:44.081000000  2010/02/25 07:36:25.800000000
3        2010/01/04 08:24:21.284000000  2010/02/03 08:58:45.692000000
4        2010/01/04 07:44:10.721000000  2010/01/05 16:26:12.662000000
...                                ...                            ...
2072553  2020/05/05 19:51:06.059000000  2021/05/13 14:53:31.000000000
2072554  2020/05/05 19:51:06.135000000  2021/05/13 14:53:38.000000000
2072555  2020/05/05 19:51:06.164000000  2021/05/13 15:01:46.000000000
2072556  2020/06/09 11:54:02.669000000  2021/07/21 15:33:55.000000000
2072557  2020/06/09 11:54:02.852000000  2021/07/21 15:33:45.000000000

         matricula_ou_siape             tipo_vinculo_usuario  id_exemplar  \
0              2.008023e+09               ALUNO DE GRADUAÇÃO        13259
1              2.008023e+09               ALUNO DE GRADUAÇÃO        70865
2              2.008112e+09           ALUNO DE PÓS-GRADUAÇÃO       195347
3              2.007211e+08               ALUNO DE GRADUAÇÃO       131639
4              2.008023e+09               ALUNO DE GRADUAÇÃO        13259
...                     ...                              ...          ...
2072553        3.067431e+06  SERVIDOR TÉCNICO-ADMINISTRATIVO       256297
2072554        3.067431e+06  SERVIDOR TÉCNICO-ADMINISTRATIVO       256406
2072555        3.067431e+06  SERVIDOR TÉCNICO-ADMINISTRATIVO       807821
2072556        2.020101e+10           ALUNO DE PÓS-GRADUAÇÃO       804885
2072557        2.020101e+10           ALUNO DE PÓS-GRADUAÇÃO      1099777

                   colecao                                         biblioteca  \
0        Acervo Circulante                     Biblioteca Central Zila Mamede
1        Acervo Circulante                     Biblioteca Central Zila Mamede
2        Acervo Circulante  Biblioteca Setorial Prof. Rodolfo Helinski - E...
3        Acervo Circulante                     Biblioteca Central Zila Mamede
4        Acervo Circulante                     Biblioteca Central Zila Mamede
...                    ...                                                ...
2072553  Acervo Circulante  Biblioteca Setorial da Faculdade de Ciências d...
2072554  Acervo Circulante  Biblioteca Setorial da Faculdade de Ciências d...
2072555  Acervo Circulante  Biblioteca Setorial da Faculdade de Ciências d...
2072556  Acervo Circulante                     Biblioteca Central Zila Mamede
2072557  Acervo Circulante                     Biblioteca Central Zila Mamede

        status_material  localizacao
0               REGULAR          630
1               REGULAR          647
2               REGULAR          640
3               REGULAR          609
4               REGULAR          630
...                 ...          ...
2072553         REGULAR          684
2072554         REGULAR          628
2072555         REGULAR          653
2072556         REGULAR          675
2072557         REGULAR           14

[2072558 rows x 12 columns]

In [20]:
print(df_comum.dtypes)

id_emprestimo             int64
codigo_barras               str
data_renovacao              str
data_emprestimo             str
data_devolucao              str
matricula_ou_siape      float64
tipo_vinculo_usuario        str
id_exemplar               int64
colecao                     str
biblioteca                  str
status_material             str
localizacao               int64
dtype: object

In [21]:
df_comum['matricula_ou_siape'] = df_comum['matricula_ou_siape'].astype('string')

In [22]:
df_comum['localizacao'] = df_comum['localizacao'].astype('int')

In [23]:
print(df_comum['matricula_ou_siape'])

0           2008023265.0
1           2008023265.0
2           2008112114.0
3            200721119.0
4           2008023265.0
               ...
2072553        3067431.0
2072554        3067431.0
2072555        3067431.0
2072556    20201014993.0
2072557    20201014993.0
Name: matricula_ou_siape, Length: 2072558, dtype: string